* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .cajas {
    margin: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 5rem;
}

.titulo {
    text-align: center;
} */